.search{
    display: flex;
    margin: 10px;
}
.search input{
    font-weight: bolder;
    outline: none;
    border: 1px solid gainsboro;
    width: 180px;
    height: 30px;
    margin: 5px;
}
.search button{
    font-size: 15px;
    margin: 5px;
    background-color: gainsboro;
    border-radius: 3px;
    outline: none;
    border: none;
    width: 80px;
    height: 34px;
}
.search button:hover{
    background-color: darkgray;
    box-shadow: 0 0 2px 2px gainsboro;
}