.main{
   display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    height: 100%;

}
.content{
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    padding-top: 50px;
}